:root {
  --White: hsl(0, 0%, 100%);
  --Gray-010:  #F2F2F2
  --Gray-020:  #C6C6C6
  --Gray-030:  #AEAEB2
  --Gray-040:  #8E8E93
  --Gray-050:  #636366
  --Gray-060:  #48484A
  --Gray-070:  #363639
  --Gray-080:  #2C2C2E
  --Gray-090:  #1C1C1E;
  --Blue-010:  #E9F1FF;
  --Blue-020:  #CADEFF;
  --Blue-030:   #437BEC;
  --Blue-040: #185DE8;
  --Blue-050:  #0946BF;
  --Orange-030:  #FDA94F;
  --Orange-040:  #F88408;
  --Orange-030:   #E9F34D;
  --Yellow-040:  #C1CD0D;
}
