* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-size: 13px;
}

h1 {
    font-size: 27px;
}