/* .swiper-button-next {
  position: absolute;
  top: 135px;
  right: 5px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(204, 204, 204, 0.5);
}

.swiper-button-prev {
  position: absolute;
  top: 135px;
  left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(204, 204, 204, 0.5);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-size: 25px;
  font-weight: bold;
} */

.swiper-button-next {
    position: absolute;
    top: 200px;
    right: 13px;
    color: #fff;
    color: #1c1c1e;
}

.swiper-button-prev {
    position: absolute;
    top: 200px;
    left: 15px;
    color: #1c1c1e;
}

.swiper-button-next::after {
    font-size: 30px;
    font-weight: bold;
}
.swiper-button-prev::after {
    font-size: 30px;
    font-weight: bold;
}
